<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Incoding.Web.Components.Demo</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet"/>

        <script type="text/javascript" src="@Url.Content("~/lib/jquery-1.8.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/underscore.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.form.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.history.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.validate.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.validate.unobtrusive.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/handlebars.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/incoding.framework.js")"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

        <script type="text/javascript" src="@Url.Content("~/js/grid.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
