<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Incoding.Web.Components.Demo</title>

        <script type="text/javascript" src="@Url.Content("~/lib/jquery-1.8.3.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/underscore.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.form.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.history.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.validate.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/jquery.validate.unobtrusive.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/handlebars.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/lib/incoding.framework.js")"></script>

        <script type="text/javascript" src="@Url.Content("~/js/grid.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
